$def with (posts_meta)
<!doctype html>
<html>
<head>
<title>Title</title>
<style>
	#menu {
		position:absolute;
		width:150px;
		height:100%;
		left:0;
		top:0;
		padding:20px;
	}
	#main {
		margin:0 auto;
		width:500px;
	}
	ul {
		list-style:square;
	}
</style>
</head>
<body>
	<div id="menu">
		<a href="#">home</a><br>
		<a href="#">about</a>
	</div>
	<div id="main">
		<h1>Writings</h1>
		<ul>
		$for post in posts_meta:
			<li><a href="$post['url']">$' '.join(post['title'])</a></li>
		</ul>
	</div>
</body>
</html>